@import "tailwindcss";

:root {
  --text-primary-hover: hsl(240 5.9% 10%);
  --text-primary: hsl(240 10% 3.9%/0.8);
  --bg-gray: hsl(240 4.8% 95.9%);
  --bg-main: hsl(0, 0%, 100%);
  --white: hsl(0 0% 98%);
  --text-primary-opacity: hsl(240 10% 3.9%);
  --card-text: hsl(240 3.8% 46.1%);

  /* shadow */
  --shadow-four: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --input-shadow: inset 0 1px 4px 0 rgba(119, 122, 175, 0.3);
  --input-focus-shadow: 0 1px 0 0 rgba(35, 38, 59, 0.05);

  /* border */
  --border-light-gray: hsl(240 5.9% 90%);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wistia_embed,
.wistia_embed .wistia_controls {
  background-color: black !important;
  color: white !important;
}

.wistia_embed .w-control-bar {
  background: black !important;
}

.wistia_embed button,
.wistia_embed svg {
  fill: white !important;
}

.height-plus {
  animation: height-plus 0.9s ease-in-out;
  max-height: 200px;
}
@keyframes height-plus {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 200px !important;
    opacity: 1;
  }
}
.height-minus {
  animation: height-minus 0.9s ease-in-out;
  max-height: 0;
}
@keyframes height-minus {
  0% {
    max-height: 200px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.watch-action-main .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-main{
  background: #ffffff0d;
  border: 1px solid #e4e4e7;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  
}